vers/Test de 8s.flow
[
	{
		"id": "e20ab83f.f4bf48",
		"type": "comment",
		"z": "79e849e4.50b3f8",
		"name": "Test de 8s",
		"info": "",
		"x": 180,
		"y": 80,
		"wires": []
	},
	{
		"id": "e975762c.efcbe8",
		"type": "inject",
		"z": "79e849e4.50b3f8",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 200,
		"y": 160,
		"wires": [
			[
				"3d6cd53.327482a"
			]
		]
	},
	{
		"id": "3d6cd53.327482a",
		"type": "delay",
		"z": "79e849e4.50b3f8",
		"name": "",
		"pauseType": "delay",
		"timeout": "8",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "1",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": false,
		"x": 420,
		"y": 160,
		"wires": [
			[
				"c333365f.d08728"
			]
		]
	},
	{
		"id": "c333365f.d08728",
		"type": "function",
		"z": "79e849e4.50b3f8",
		"name": "",
		"func": "\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 660,
		"y": 160,
		"wires": [
			[]
		]
	}
]